/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: rgb(255, 160, 76);
    /* audio controls background */
    --plyr-audio-controls-background: rgb(89, 95, 255);
    /* audio controls color */
    --plyr-audio-control-color: rgb(255, 160, 76);
    /* font family for player */
    --plyr-font-family: serif;
    /* font size of player  */
    --plyr-font-size-time: 19px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  rgb(0, 0, 0);
    --plyr-audio-range-track-background: rgb(0255, 160, 076);
    --plyr-tooltip-background: rgb(0, 0, 0);
    --plyr-tooltip-color: black; 
    --plyr-control-icon-size: 20px;
}

body {
    background: rgb(89, 95, 255);
}

/* Layout */
main {

    h1{
        padding-left: 340px;
        color: white;
        font-family: "Oleo Script Swash Caps", system-ui;
        font-weight: 400;
        font-style: normal;
    }
    h2{
        padding-left: 340px;
        color: white;
        font-family: "Oleo Script Swash Caps", system-ui;
        font-weight: 400;
        font-style: normal;
          
    }

    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;

    background: hsla(199, 74%, 49%, 1);

background: linear-gradient(360deg, hsla(199, 74%, 49%, 1) 21%, hsla(199, 49%, 59%, 1) 49%, hsla(31, 100%, 65%, 1) 81%);

background: -moz-linear-gradient(360deg, hsla(199, 74%, 49%, 1) 21%, hsla(199, 49%, 59%, 1) 49%, hsla(31, 100%, 65%, 1) 81%);

background: -webkit-linear-gradient(360deg, hsla(199, 74%, 49%, 1) 21%, hsla(199, 49%, 59%, 1) 49%, hsla(31, 100%, 65%, 1) 81%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#209FDA", endColorstr="#63A9C9", GradientType=1 );

}


main img {
    /* Fit image to container */
    max-width: 100%;.
    display: block;
    padding-left: 300px;
    padding-top: 50px;
}

/* Primary Content */
article {
    /* flow content horizontally */
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 10px;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 300;
    font-style: normal;

      
    color: rgb(255, 255, 255);
}

article section {
    /* keep flex'd child same width */
    flex: 2;
    
}

/* Footer */
footer {
    text-align: center;
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}